/************************************************************************************
smaller than 1200
*************************************************************************************/
@media screen and (max-width: 1200px) {
    div#pop-up {
        display: none;
        position: absolute;
        width: 240px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 2px solid #ff69b4;
        font-size: 90%;
        left: 600px !important;
        top: 470px !important;
    }

    div#pop-up1 {
        display: none;
        position: absolute;
        width: 240px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 2px solid #ff69b4;
        font-size: 90%;
        left: 600px !important;
        top: 650px !important;
    }
}

/************************************************************************************
smaller than 991
*************************************************************************************/
@media screen and (max-width: 991px) {
    div#pop-up {
        display: none;
        position: absolute;
        width: 240px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 2px solid #ff69b4;
        font-size: 90%;
        left: 450px !important;
        top: 570px !important;
    }

    div#pop-up1 {
        display: none;
        position: absolute;
        width: 240px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 2px solid #ff69b4;
        font-size: 90%;
        left: 450px !important;
        top: 760px !important;
    }

    .cashlistcvr {
        width: 100%;
        float: left;
        padding: 10px 0 0 30px;
    }

    .radio label,
    .checkbox label {
        font-size: 11px;
        font-weight: bold;
        color: #000;
        display: inline-block;
        position: relative;
        padding-left: 5px;
        margin-right: 25px;
        padding-top: 4px;
    }

    .radio label::before,
    .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 25px;
        height: 25px;
        left: -2px;
        top: 0px;
        margin-left: -25px;
        border: 1px solid #228b22;
        border-radius: 2px;
        background-color: #228b22;
    }
}

/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {
    div#pop-up {
        display: none;
        position: absolute;
        width: 240px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 2px solid #ff69b4;
        font-size: 90%;
        left: 200px !important;
        top: 1190px !important;
    }

    div#pop-up1 {
        display: none;
        position: absolute;
        width: 240px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 2px solid #ff69b4;
        font-size: 90%;
        left: 200px !important;
        top: 1380px !important;
    }

    #contentBook {
        width: 100%;
        float: left;
    }

    #book {
        float: left;
        width: 100%;
        background-color: #f7f7f7;
    }

    #book-left {
        float: left;
        width: 100%;
    }

    #book-right {
        float: left;
        width: 100%;
    }

    #book-h1 {
        float: left;
        width: 100%;
        font-weight: normal;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        background: #000;
        text-align: center;
        padding: 5px 0;
    }

    #book-h2 {
        float: left;
        width: 520px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        font-size: 18px;
        background-color: #1a1a1a;
        text-align: center;
        background-image: url(../images/heading-bg.png);
        background-repeat: no-repeat;
        background-position: left top;
        margin-bottom: 3%;
    }

    .book-h3 {
        float: left;
        width: 100%;
        padding: 5px 0;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        font-size: 17px;
        background-color: #1a1a1a;
        text-align: center;
        background-color: #E6E6E6;
        border: 1px solid #cccccc;
    }

    .book-cver {
        background-color: #f7f7f7;
        border: 1px solid #cccccc;
        width: 100%;
        float: left;
        margin-top: -1px;
        padding-top: 2%;
        padding-right: 3%;
        padding-bottom: 2%;
        padding-left: 3%;
    }

    .book-inner-h1 {
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        float: left;
        width: 100%;
        padding: 5px 0;
    }

    .book-radio {
        float: left;
        width: 5%;
    }

    .book-list {
        float: left;
        width: 100%;
        border: 1px solid #b3b3b3;
        background-color: #e6e6e6;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 1%;
        padding-left: 2%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .book-list2 {
        float: left;
        width: 35%;
        margin-top: 1%;
    }

    .book-list3 {
        float: left;
        width: 61%;
        margin-left: 2%;
    }

    .book-list4 {
        float: left;
        width: 100%;
        vertical-align: middle;
    }

    .book-icon {
        float: left;
        width: 23px;
        margin-right: 3px;
    }

    .book-tex {
        float: left;
        width: 77px;
        font-family: verdana, arial;
        font-size: 10px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        padding: 0px;
        margin-top: 6px;
        margin-bottom: 0px;
        margin-left: 3px;
        margin-right: 5px;
    }

    .book-tex2 {
        float: left;
        width: 90px;
        font-family: verdana, arial;
        font-size: 10px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        padding: 0px;
        margin-top: 7px;
        margin-bottom: 0px;
        margin-left: 3px;
        margin-right: 5px;
    }

    .book-field {
        float: left;
        width: 39px;
        margin-right: 5px;
    }

    .book-list5 {
        float: left;
        width: 483px;
        border: 1px solid #b3b3b3;
        background-color: #e6e6e6;
        padding-top: 8px;
        padding-right: 2px;
        padding-bottom: 8px;
        padding-left: 2px;
    }

    .hr {
        float: left;
        margin-right: 5%;
        font-size: 13px;
        margin-top: 2%;
        margin-left: 5%;
    }

    .hr2 {
        float: left;
        margin-right: 4%;
    }

    .min {
        float: left;
        margin-right: 5%;
        font-size: 13px;
        margin-top: 2%;
    }

    .min2 {
        float: left;
    }

    .passengers {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 15%;
    }

    .passengers2 {
        float: left;
        margin-right: 3%;
        width: 7%;
    }

    .luggages {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 15%;
    }

    .luggages2 {
        float: left;
        margin-right: 3%;
        width: 7%;
    }

    .hand {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 25%;
    }

    .hand2 {
        float: left;
        width: 7%;
    }

    .baby {
        float: left;
        margin-top: 0.9%;
    }

    .baby2 {
        float: left;
        width: 12%;
    }

    .b-field-control {
        float: left;
        padding: 2px;
        font-family: Arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .b-field {
        width: 100%;
        margin: 1px 0 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 5px;
        outline: none;
    }

    .b-field2 {
        width: 100%;
        margin: 1px 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 3px;
        outline: none;
    }

    .b-field3 {
        width: 100%;
        margin: 1px 0 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 5px;
        outline: none;
    }

    .back {
        float: left;
        width: 25%;
    }

    .accept {
        float: left;
        width: 40%;
        margin: 9px 5px 5px 1%;
    }

    .accept1 {
        float: left;
        margin: 0 5px 0 0;
    }

    .accept2 {
        float: left;
        margin: 1px 5px 0 0;
    }

    .next {
        float: right;
        width: 25%;
    }

    .payment {
        float: left;
        width: 100%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        background-color: #F7F7F7;
        border: 1px solid #cccccc;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 1%;
        padding-left: 2%;
    }

    .payment-h1 {
        float: left;
        width: 20%;
        font-size: 18px;
        font-weight: normal;
        margin-top: 15px;
        margin-left: 20px;
    }

    .payment-img {
        float: left;
    }

    #fare2 {
        float: left;
        margin-top: 1.5%;
    }

    .radiobtncover {
        float: left;
        width: 60%;
    }

    .radiobtn {
        float: left;
        width: 30%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .radiobtn1 {
        float: left;
        margin: 16px 5px 0 15px;
    }

    .radiobtn2 {
        float: left;
        margin: 14px 0 0 0;
    }

    .BookNextBtn {
        float: left;
        background: #b2156b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 8px 25px;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 16px;
        color: #FFF;
        cursor: pointer;
    }

    .BookBackBtn {
        float: right;
        background: #b2156b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 5px 20px;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 14px;
        color: #FFF;
        cursor: pointer;
    }

    .ClearButton {
        height: 28px;
        background-image: url(../images/btn.png);
        background-repeat: repeat-x;
        background-position: left top;
        border: 1px solid #d1effe;
        font-family: arial;
        font-size: 12px;
        color: Black;
        text-decoration: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: #555555;
        cursor: pointer;
    }

    .red {
        color: #F00;
    }

    .book-h1 {
        float: left;
        width: 520px;
        background-image: url(../images/heading-bg.png);
        background-repeat: no-repeat;
        background-position: left top;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        font-family: 'Nova Round', cursive;
        font-weight: bold;
        color: #000;
        text-decoration: none;
    }

    .confirmbtn {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 5px 20px;
        margin-top: 1%;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 14px;
        color: #FFF;
        cursor: pointer;
    }

    .MandError {
        float: right;
        color: Red;
        padding: 4px 0 0 0;
        text-align: center;
        font-size: 15px;
        font-weight: normal;
        text-decoration: none;
        background
    }

    .radiobtnco {
        float: left;
        padding: 15px 0 1% 0;
    }

    .book-cver2 {
        background: #d7e8f2 url(../images/vehicle-pattern.png) repeat top left;
        border: 1px solid #cccccc;
        width: 100%;
        float: left;
        margin-top: -1px;
        padding-top: 2%;
        padding-right: 3%;
        padding-bottom: 2%;
        padding-left: 3%;
    }

    .book-veh-h1 {
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
        float: left;
        width: 100%;
        padding: 1% 2%;
        border: 1px solid #000;
        background: #323232;
    }

    .book-listvehicle {
        float: left;
        width: 100%;
        border: 1px solid #71b4da;
        background: #add4ea;
        padding: 1% 2%;
        margin: -2px 0 0 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .book-listvehicle4 {
        float: left;
        width: 100%;
        border: 1px solid #81a94e;
        background: #c8e2a6;
        padding: 1% 2%;
        margin: -1px 0 0 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .book-listvehicle2 {
        float: left;
        width: 45%;
    }

    .book-listvehicle3 {
        float: left;
        width: 45%;
        margin: 0 0 0 0;
    }

    .veh-field {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-field2 {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 12px;
        font-weight: bold;
        color: #0006e9;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-field3 {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-pre {
        color: #0006e9;
    }

    .cardmsg {
        float: right;
        width: 100%;
        font-family: arial;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        padding: 5px 0;
        margin: 10px 0 0 0;
        text-align: left;
        border: noe 0;
        background: #d7e8f2 url(../images/vehicle-pattern.png) repeat top left;
        text-align: center;
    }

    .paypalcard {
        float: left;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }

    .paymentdefault {
        float: right;
        margin: 0;
        font-size: 15px;
        font-weight: normal;
        color: #FFF;
        text-decoration: none;
    }

    .pay-pre {
        float: left;
        margin: 8px 0 0 10px;
        font-size: 18px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }
}

/************************************************************************************
smaller than 568
*************************************************************************************/
@media screen and (max-width: 568px) {

    .card,
    .cash {
        float: initial;
        /* width: 20%; */
        padding: 1%;
        margin-top: 0px;
    }

    #contentBook {
        width: 100%;
        float: left;
    }

    #book {
        float: left;
        width: 100%;
        background-color: #f7f7f7;
    }

    #book-left {
        float: left;
        width: 100%;
    }

    #book-right {
        float: left;
        width: 100%;
    }

    #book-h1 {
        float: left;
        width: 100%;
        font-weight: normal;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        background: #000;
        text-align: center;
        padding: 5px 0;
    }

    #book-h2 {
        float: left;
        width: 520px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        font-size: 18px;
        background-color: #1a1a1a;
        text-align: center;
        background-image: url(../images/heading-bg.png);
        background-repeat: no-repeat;
        background-position: left top;
        margin-bottom: 3%;
    }

    .book-h3 {
        float: left;
        width: 100%;
        padding: 5px 0;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        font-size: 17px;
        background-color: #1a1a1a;
        text-align: center;
        background-color: #E6E6E6;
        border: 1px solid #cccccc;
    }

    .book-cver {
        background-color: #f7f7f7;
        border: 1px solid #cccccc;
        width: 100%;
        float: left;
        margin-top: -1px;
        padding-top: 2%;
        padding-right: 3%;
        padding-bottom: 2%;
        padding-left: 3%;
    }

    .book-inner-h1 {
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        float: left;
        width: 100%;
        padding: 5px 0;
    }

    .book-radio {
        float: left;
        width: 5%;
    }

    .book-list {
        float: left;
        width: 100%;
        border: 1px solid #b3b3b3;
        background-color: #e6e6e6;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 1%;
        padding-left: 2%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .book-list2 {
        float: left;
        width: 35%;
        margin-top: 1%;
    }

    .book-list3 {
        float: left;
        width: 61%;
        margin-left: 2%;
    }

    .book-list4 {
        float: left;
        width: 100%;
        vertical-align: middle;
    }

    .book-icon {
        float: left;
        width: 23px;
        margin-right: 3px;
    }

    .book-tex {
        float: left;
        width: 77px;
        font-family: verdana, arial;
        font-size: 10px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        padding: 0px;
        margin-top: 6px;
        margin-bottom: 0px;
        margin-left: 3px;
        margin-right: 5px;
    }

    .book-tex2 {
        float: left;
        width: 90px;
        font-family: verdana, arial;
        font-size: 10px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        padding: 0px;
        margin-top: 7px;
        margin-bottom: 0px;
        margin-left: 3px;
        margin-right: 5px;
    }

    .book-field {
        float: left;
        width: 39px;
        margin-right: 5px;
    }

    .book-list5 {
        float: left;
        width: 483px;
        border: 1px solid #b3b3b3;
        background-color: #e6e6e6;
        padding-top: 8px;
        padding-right: 2px;
        padding-bottom: 8px;
        padding-left: 2px;
    }

    .hr {
        float: left;
        margin-right: 5%;
        font-size: 13px;
        margin-top: 2%;
        margin-left: 5%;
    }

    .hr2 {
        float: left;
        margin-right: 4%;
    }

    .min {
        float: left;
        margin-right: 5%;
        font-size: 13px;
        margin-top: 2%;
    }

    .min2 {
        float: left;
    }

    .passengers {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 15%;
    }

    .passengers2 {
        float: left;
        margin-right: 3%;
        width: 7%;
    }

    .luggages {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 15%;
    }

    .luggages2 {
        float: left;
        margin-right: 3%;
        width: 7%;
    }

    .hand {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 25%;
    }

    .hand2 {
        float: left;
        width: 7%;
    }

    .baby {
        float: left;
        margin-top: 0.9%;
    }

    .baby2 {
        float: left;
        width: 12%;
    }

    .b-field-control {
        float: left;
        padding: 2px;
        font-family: Arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .b-field {
        width: 100%;
        margin: 1px 0 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 5px;
        outline: none;
    }

    .b-field2 {
        width: 70px;
        margin: 1px 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 3px;
        outline: none;
    }

    .b-field3 {
        width: 100%;
        margin: 1px 0 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 5px;
        outline: none;
    }

    .back {
        float: left;
        width: 25%;
    }

    .accept {
        float: left;
        width: 55%;
        margin: 7px 5px 5px 0%;
    }

    .accept1 {
        float: left;
        margin: 0 5px 0 0;
    }

    .accept2 {
        float: left;
        margin: 1px 5px 0 0;
    }

    .next {
        float: right;
        width: 25%;
    }

    .payment {
        float: left;
        width: 100%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        background-color: #F7F7F7;
        border: 1px solid #cccccc;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 1%;
        padding-left: 2%;
    }

    .payment-h1 {
        float: left;
        width: 20%;
        font-size: 15px;
        font-weight: normal;
        margin-top: 8px;
        margin-left: 20px;
    }

    .payment-img {
        float: left;
    }

    #fare2 {
        float: left;
        margin-top: 1.5%;
    }

    .radiobtncover {
        float: left;
        width: 60%;
    }

    .radiobtn {
        float: left;
        width: 45%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .radiobtn1 {
        float: left;
        margin: 16px 5px 0 15px;
    }

    .radiobtn2 {
        float: left;
        margin: 14px 0 0 0;
    }

    .BookNextBtn {
        float: left;
        background: #b2156b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 8px 25px;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 16px;
        color: #FFF;
        cursor: pointer;
    }

    .BookBackBtn {
        float: right;
        background: #b2156b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 5px 20px;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 14px;
        color: #FFF;
        cursor: pointer;
    }

    .ClearButton {
        height: 28px;
        background-image: url(../images/btn.png);
        background-repeat: repeat-x;
        background-position: left top;
        border: 1px solid #d1effe;
        font-family: arial;
        font-size: 12px;
        color: Black;
        text-decoration: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: #555555;
        cursor: pointer;
    }

    .red {
        color: #F00;
    }

    .book-h1 {
        float: left;
        width: 520px;
        background-image: url(../images/heading-bg.png);
        background-repeat: no-repeat;
        background-position: left top;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        font-family: 'Nova Round', cursive;
        font-weight: bold;
        color: #000;
        text-decoration: none;
    }

    .confirmbtn {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 5px 20px;
        margin-top: 1%;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 14px;
        color: #FFF;
        cursor: pointer;
    }

    .MandError {
        float: right;
        color: Red;
        padding: 4px 0 0 0;
        text-align: center;
        font-size: 15px;
        font-weight: normal;
        text-decoration: none;
    }

    .radiobtnco {
        float: left;
        padding: 15px 0 1% 0;
    }

    .book-cver2 {
        background: #d7e8f2 url(../images/vehicle-pattern.png) repeat top left;
        border: 1px solid #cccccc;
        width: 100%;
        float: left;
        margin-top: -1px;
        padding-top: 2%;
        padding-right: 3%;
        padding-bottom: 2%;
        padding-left: 3%;
    }

    .book-veh-h1 {
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
        float: left;
        width: 100%;
        padding: 1% 2%;
        border: 1px solid #000;
        background: #323232;
    }

    .book-listvehicle {
        float: left;
        width: 100%;
        border: 1px solid #71b4da;
        background: #add4ea;
        padding: 1% 2%;
        margin: -2px 0 0 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .book-listvehicle4 {
        float: left;
        width: 100%;
        border: 1px solid #81a94e;
        background: #c8e2a6;
        padding: 1% 2%;
        margin: -1px 0 0 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .book-listvehicle2 {
        float: left;
        width: 45%;
    }

    .book-listvehicle3 {
        float: left;
        width: 45%;
        margin: 0 0 0 0;
    }

    .veh-field {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-field2 {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 12px;
        font-weight: bold;
        color: #0006e9;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-field3 {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-pre {
        color: #0006e9;
    }

    .cardmsg {
        float: right;
        width: 100%;
        font-family: arial;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        padding: 5px 0;
        margin: 10px 0 0 0;
        text-align: left;
        border: noe 0;
        background: #d7e8f2 url(../images/vehicle-pattern.png) repeat top left;
        text-align: center;
    }

    .paypalcard {
        float: left;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }

    .paymentdefault {
        float: right;
        margin: 0;
        font-size: 15px;
        font-weight: normal;
        color: #FFF;
        text-decoration: none;
    }

    .pay-pre {
        float: left;
        margin: 8px 0 0 10px;
        font-size: 18px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }
}

/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {
    div#pop-up {
        display: none;
        position: absolute;
        width: 240px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 2px solid #ff69b4;
        font-size: 90%;
        left: 100px !important;
        top: 1300px !important;
    }

    div#pop-up1 {
        display: none;
        position: absolute;
        width: 240px;
        padding: 10px;
        background: #eeeeee;
        color: #000000;
        border: 2px solid #ff69b4;
        font-size: 90%;
        left: 100px !important;
        top: 1550px !important;
    }

    #card,
    #cash {
        float: left;
        width: 100%;
        padding: 1%;
        margin-top: 8px;
    }

    input[type=checkbox],
    input[type=radio] {
        margin: 4px 10px 0 0;
        margin-top: 0 9px;
        line-height: normal;
    }

    #back {
        float: right;
        width: 100%;
        margin: 20px 0 10px 0;
        text-align: center;
    }

    #accept {
        float: left;
        width: 100%;
        margin: 15px 0;
        text-align: center;
    }

    #next {
        float: left;
        width: 100%;
        margin: 5px 0 15px 0;
        text-align: center;
    }

    .button1.onlight {
        position: relative;
        font-size: 15px;
        font-weight: normal;
        color: #fff;
        text-decoration: none;
        padding: 8px 40px 8px 25px !important;
        background: #ff2c94 url(../images/btn-arrow-r.png) right no-repeat;
        cursor: pointer;
        float: initial;
        border: none;
        -webkit-border-radius: 4px;
    }

    .button2.onlight {
        position: relative;
        font-size: 15px;
        font-weight: normal;
        color: #fff;
        text-decoration: none;
        padding: 8px 25px 8px 40px !important;
        background: #ff2c94 url(../images/btn-arrow-l.png) left no-repeat;
        cursor: pointer;
        float: initial;
        border: none;
        -webkit-border-radius: 4px;
    }

    .confrmbutton2.onlight {
        float: none !important;
        margin: 8px 25px 0 0px !important;
        width: 80%;
        display: block;
    }

    .confrmbutton2.onlight:before {
        left: -6% !important;
    }

    .confrmbutton.onlight {
        float: none !important;
        width: 80%;
        display: block;
        margin: 10px 55px 0 0px !important;
    }



    #contentBook {
        width: 100%;
        float: left;
    }

    #book {
        float: left;
        width: 100%;
        background-color: #f7f7f7;
    }

    #book-left {
        float: left;
        width: 100%;
    }

    #book-right {
        float: left;
        width: 100%;
    }

    #book-h1 {
        float: left;
        width: 100%;
        font-weight: normal;
        color: #FFF;
        text-decoration: none;
        font-size: 20px;
        background: #000;
        text-align: center;
        padding: 5px 0;
    }

    #book-h2 {
        float: left;
        width: 520px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        font-size: 18px;
        background-color: #1a1a1a;
        text-align: center;
        background-image: url(../images/heading-bg.png);
        background-repeat: no-repeat;
        background-position: left top;
        margin-bottom: 3%;
    }

    .book-h3 {
        float: left;
        width: 100%;
        padding: 5px 0;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        font-size: 17px;
        background-color: #1a1a1a;
        text-align: center;
        background-color: #E6E6E6;
        border: 1px solid #cccccc;
    }

    .book-cver {
        background-color: #f7f7f7;
        border: 1px solid #cccccc;
        width: 100%;
        float: left;
        margin-top: -1px;
        padding-top: 2%;
        padding-right: 3%;
        padding-bottom: 2%;
        padding-left: 3%;
    }

    .book-inner-h1 {
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        float: left;
        width: 100%;
        padding: 5px 0;
    }

    .book-radio {
        float: left;
        width: 5%;
    }

    .book-list {
        float: left;
        width: 100%;
        border: 1px solid #b3b3b3;
        background-color: #e6e6e6;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 1%;
        padding-left: 2%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    /*#ctl00_UpdateProgress1 > div img {
        top: 0% !important;
        height: 400px;
    }*/

    .book-list2 {
        float: left;
        width: 100%;
        margin-top: 1%;
    }

    .book-list3 {
        float: left;
        width: 100%;
        margin-left: 0;
    }

    .book-list4 {
        float: left;
        width: 100%;
        vertical-align: middle;
    }

    .book-icon {
        float: left;
        width: 23px;
        margin-right: 3px;
    }

    .book-tex {
        float: left;
        width: 77px;
        font-family: verdana, arial;
        font-size: 10px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        padding: 0px;
        margin-top: 6px;
        margin-bottom: 0px;
        margin-left: 3px;
        margin-right: 5px;
    }

    .book-tex2 {
        float: left;
        width: 90px;
        font-family: verdana, arial;
        font-size: 10px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        padding: 0px;
        margin-top: 7px;
        margin-bottom: 0px;
        margin-left: 3px;
        margin-right: 5px;
    }

    .book-field {
        float: left;
        width: 39px;
        margin-right: 5px;
    }

    .book-list5 {
        float: left;
        width: 483px;
        border: 1px solid #b3b3b3;
        background-color: #e6e6e6;
        padding-top: 8px;
        padding-right: 2px;
        padding-bottom: 8px;
        padding-left: 2px;
    }

    .hr {
        float: left;
        margin-right: 5%;
        font-size: 13px;
        margin-top: 2%;
        margin-left: 5%;
    }

    .hr2 {
        float: left;
        margin-right: 4%;
    }

    .min {
        float: left;
        margin-right: 5%;
        font-size: 13px;
        margin-top: 2%;
    }

    .min2 {
        float: left;
    }

    .passengers {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 15%;
    }

    .passengers2 {
        float: left;
        margin-right: 3%;
        width: 7%;
    }

    .luggages {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 15%;
    }

    .luggages2 {
        float: left;
        margin-right: 3%;
        width: 7%;
    }

    .hand {
        float: left;
        margin-right: 2%;
        font-size: 11px;
        margin-top: 1.5%;
        width: 25%;
    }

    .hand2 {
        float: left;
        width: 7%;
    }

    .baby {
        float: left;
        margin-top: 0.9%;
    }

    .baby2 {
        float: left;
        width: 12%;
    }

    .b-field-control {
        float: left;
        padding: 2px;
        font-family: Arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .b-field {
        width: 100%;
        margin: 1px 0 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 5px;
        outline: none;
    }

    .b-field2 {
        width: 70px;
        margin: 1px 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 3px;
        outline: none;
    }

    .b-field3 {
        width: 100%;
        margin: 1px 0 0 0;
        font-size: 12px;
        border: 1px solid #aaa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 5px 5px;
        outline: none;
    }

    .back {
        float: left;
        width: 25%;
    }

    .accept {
        float: left;
        width: 100%;
        margin: 7px 5px 15px 0;
        padding: 0 0 0 69px;
    }

    .accept1 {
        float: left;
        margin: 0 5px 0 0;
    }

    .accept2 {
        float: left;
        margin: 0px 5px 0 0;
    }

    .next {
        float: right;
        width: 100%;
        text-align: center;
        margin: 7px 5px 15px 0;
    }

    .payment {
        float: left;
        width: 100%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
        background-color: #F7F7F7;
        border: 1px solid #cccccc;
        padding-top: 1%;
        padding-right: 2%;
        padding-bottom: 1%;
        padding-left: 2%;
    }

    .payment-h1 {
        float: left;
        width: 20%;
        font-size: 15px;
        font-weight: normal;
        margin-top: 8px;
        margin-left: 20px;
    }

    .payment-img {
        float: left;
        margin-left: 49px;
    }

    #fare2 {
        float: left;
        margin-top: 1.5%;
    }

    .radiobtncover {
        float: left;
        width: 46%;
    }

    .radiobtn {
        float: left;
        width: 100%;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .radiobtn1 {
        float: left;
        margin: 16px 5px 0 15px;
    }

    .radiobtn2 {
        float: left;
        margin: 14px 0 0 0;
    }

    .BookNextBtn {
        float: left;
        background: #b2156b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 8px 25px;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 16px;
        color: #FFF;
        cursor: pointer;
    }

    .BookBackBtn {
        float: none;
        background: #b2156b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 5px 20px;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 14px;
        color: #FFF;
        cursor: pointer;
    }

    .ClearButton {
        height: 28px;
        background-image: url(../images/btn.png);
        background-repeat: repeat-x;
        background-position: left top;
        border: 1px solid #d1effe;
        font-family: arial;
        font-size: 12px;
        color: Black;
        text-decoration: none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: #555555;
        cursor: pointer;
    }

    .red {
        color: #F00;
    }

    .book-h1 {
        float: left;
        width: 520px;
        background-image: url(../images/heading-bg.png);
        background-repeat: no-repeat;
        background-position: left top;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        font-family: 'Nova Round', cursive;
        font-weight: bold;
        color: #000;
        text-decoration: none;
    }

    .confirmbtn {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(#666, 0), color-stop(#000, 1));
        background: -webkit-linear-gradient(top, #666 0%, #000 100%);
        background: -moz-linear-gradient(top, #666 0%, #000 100%);
        background: -o-linear-gradient(top, #666 0%, #000 100%);
        background: linear-gradient(top, #666 0%, #000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#000', GradientType=0);
        border: 1px solid #666;
        border-color: #000 #000 #000;
        -webkit-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        -moz-box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        box-shadow: 0 1px 1px #000, inset 0 1px 0 #666;
        padding: 5px 20px;
        margin-top: 1%;
        display: inline-block;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all0.3slinear;
        -moz-transition: all0.3slinear;
        -o-transition: all0.3slinear;
        transition: all0.3slinear;
        font-size: 14px;
        color: #FFF;
        cursor: pointer;
    }

    .MandError {
        float: right;
        color: Red;
        padding: 4px 0 0 0;
        text-align: center;
        font-size: 15px;
        font-weight: normal;
        text-decoration: none;
        background
    }

    .radiobtnco {
        float: left;
        padding: 15px 0 1% 0;
    }

    .book-cver2 {
        background: #d7e8f2 url(../images/vehicle-pattern.png) repeat top left;
        border: 1px solid #cccccc;
        width: 100%;
        float: left;
        margin-top: -1px;
        padding-top: 2%;
        padding-right: 3%;
        padding-bottom: 2%;
        padding-left: 3%;
    }

    .book-veh-h1 {
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #FFF;
        text-decoration: none;
        float: left;
        width: 100%;
        padding: 1% 2%;
        border: 1px solid #000;
        background: #323232;
    }

    .book-listvehicle {
        float: left;
        width: 100%;
        border: 1px solid #71b4da;
        background: #add4ea;
        padding: 1% 2%;
        margin: -2px 0 0 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .book-listvehicle4 {
        float: left;
        width: 100%;
        border: 1px solid #81a94e;
        background: #c8e2a6;
        padding: 1% 2%;
        margin: -1px 0 0 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }

    .book-listvehicle2 {
        float: left;
        width: 45%;
    }

    .book-listvehicle3 {
        float: left;
        width: 45%;
        margin: 0 0 0 0;
    }

    .veh-field {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-field2 {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 12px;
        font-weight: bold;
        color: #0006e9;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-field3 {
        margin: 0;
        padding: 0;
        font-family: verdana, arial;
        font-size: 11px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .veh-pre {
        color: #0006e9;
    }

    .cardmsg {
        float: right;
        width: 100%;
        font-family: arial;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        padding: 5px 0;
        margin: 10px 0 0 0;
        text-align: left;
        border: none 0;
        background: #d7e8f2 url(../images/vehicle-pattern.png) repeat top left;
        text-align: center;
    }

    .paypalcard {
        float: left;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }

    .paymentdefault {
        float: right;
        margin: 0;
        font-size: 15px;
        font-weight: normal;
        color: #FFF;
        text-decoration: none;
    }

    .pay-pre {
        float: left;
        margin: 8px 0 0 10px;
        font-size: 18px;
        font-weight: normal;
        color: #000;
        text-decoration: none;
    }
}





@media screen and (max-width: 414px) {
    .confrmbutton2.onlight {
        float: none !important;
        margin: 8px 0px 0 0px !important;
        display: block;
    }

    .confrmbutton2.onlight:before {
        left: -5.3% !important;
    }

    .confrmbutton.onlight {
        float: none !important;
        width: 80%;
        display: block;
        margin: 10px 30px 0 0px !important;
    }
}


/************************************************************************************
smaller than 375
*************************************************************************************/
@media screen and (max-width: 375px) {

    .radiobtncover {
        float: left;
        width: 100%;
        padding-left: 100px;
        /* text-align: center; */
    }

    .accept {
        float: left;
        width: 100%;
        margin: 7px 5px 15px 0;
        padding: 0 0 0 26px;
    }

    .confrmbutton2.onlight {
        float: none !important;
        margin: 8px 0px 0 0px !important;
    }

    .confrmbutton.onlight {
        float: none !important;
        display: block;
        margin: 10px 30px 0 0px !important;
    }

    .confrmbutton2.onlight:before {
        left: -5.4% !important;
    }
}

/************************************************************************************
smaller than 320
*************************************************************************************/
@media screen and (max-width: 320px) {
    .payment-img {
        float: left;
        margin-left: 27px;
    }

    .accept {
        float: left;
        width: 100%;
        margin: 7px 5px 15px 0;
        padding: 0 0 0 0px;
    }

    .radiobtncover {
        float: left;
        width: 100%;
        padding-left: 81px;
        /* text-align: center; */
    }

    .confrmbutton2.onlight {
        float: none !important;
        margin: 8px 25px 0 0px !important;
        width: 80%;
        display: block;
    }

    .confrmbutton.onlight {
        float: none !important;
        width: 80%;
        display: block;
        margin: 10px 55px 0 0px !important;
    }

    .confrmbutton2.onlight:before {
        left: -7%;
    }
}