.sticky-container {
  /* background-color: #333; */
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -206px;
  top: 390px;
  width: 254px;
  z-index: 4449;
}

.sticky li {
  list-style-type: none;
  height: 44.2px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  /* filter: url(data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale); */
  filter: gray;
  /* -webkit-filter: grayscale(100%); */
  background-color: #331154;
  color: #006227;
  /* padding: 0 12px; */
  border-radius: 26px 0 0px 22px;
  font-size: 18px;
  /* line-height: 32px;*/
}

.sticky li:hover {
  margin-left: -160px;
  /*-webkit-transform: translateX(-115px);
      -moz-transform: translateX(-115px);
      -o-transform: translateX(-115px);
      -ms-transform: translateX(-115px);
      transform:translateX(-115px);*/
  /*background-color: #8e44ad;*/
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

.sticky li img {
  float: left;
  margin: 5px 5px;
  margin-right: 10px;
}

.sticky li p {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 2.2;
  display: inline-block;
  color: #ffffff;
  /* margin-left: 14px; */
  vertical-align: top;
  font-size: 20px;
  font-weight: 500;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

/** fork icon**/
.fork {
  position: absolute;
  top: 0px;
  left: 0px;
}

i.fa.fa-whatsapp {
  font-size: 52px;
  color: #25d366;
  margin: -4px 0 0 -2px;
}

.grecaptcha-badge {
  width: 70px !important;
  overflow: hidden !important;
  transition: all 0.3s ease !important;
  left: 4px !important;
}

.grecaptcha-badge:hover {
  width: 256px !important;
}

input.date_picker {
  text-align: left;
  background-image: url("images/icon/date-picker.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 18px;
  width: 78px;
}

.ui-datepicker {
  width: 17em;
  padding: 0.2em 0.2em 0;
  display: none;
  z-index: 2000 !important;
}

.ui-widget-content {
  z-index: 9999999999 !important;
}

.ui-menu {
  overflow: scroll;
  height: 250px !important;
}

.modalPopupNew {
  background-color: #ffffff;
  padding: 0px;
  width: 550px;
  font-size: 13px;
  font-weight: 400;
}

hr {
  border: none;
  border-top: 2px dashed #d3d3d3;
  height: 2px;
  width: 96%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-color: #201f1e;
}

th,
td {
  border: 1px solid #201f1e;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.booking-form-table table,
.booking-form-table th,
.booking-form-table td,
.booking-form-table tr,
.booking-list-detail table,
.booking-list-detail th,
.booking-list-detail td,
.booking-list-detail tr {
  border: none;
  background-color: transparent;
}

.booking-form-table tr:hover,
.booking-list-detail tr:hover {
  background-color: transparent;
}

.booking-form-section {
  font-family: sans-serif !important;
  font-weight: bold !important;
}

.pinkButton {
  background: #e44082;
  border: 1px solid #f09;
  color: #fff;
  padding: 8px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px 0 0px 0;
}

.paymentbox-listc1 {
  float: left;
  width: 100%;
  padding: 7px 2%;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  text-decoration: none;
  line-height: 16px;
  background: #eeeeee;
  text-align: center;
}

.paymentbox-listc1 span {
  color: Green;
}

.paymentbox-listc2 {
  float: left;
  width: 100%;
  padding: 7px 2%;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  text-decoration: none;
  background: #d8d8d8;
}

.insubfield {
  width: 100% !important;
  font-size: 13px;
  font-weight: normal;
  color: #000;
  text-decoration: none;
  padding: 8px 15px !important;
  margin: 5px 0;
  background: #fff;
  border: solid 1px #3e014f;
  border-radius: 3px;
}

/* input:not([type="submit"]):focus {
    border: 2px solid black !important;
    border-radius: 4px !important;
    outline: 1px solid #fff !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    font-weight: 600;
  } */

select {
  border-radius: 4px !important;
}

.paymentbox-list1 {
  float: left !important;
  width: 30% !important;
  margin: 2px 0 0 0;
  text-align: left;
}

.paymentbox-list2 {
  float: left !important;
  width: 70% !important;

  font-weight: 500;
  text-align: right;
  color: #6441a5;
  /* text-align: left; */
}

.reset-password {
  text-align: left !important;
  font-size: 15px !important;
}

.skiptranslate.goog-te-gadget {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  font-size: 13px;
  font-family: arial;
  font-size: 11px;
  color: #666;
  white-space: nowrap;
}

select.goog-te-combo {
  border-radius: 0px !important;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd > img {
  padding-left: 3px !important;
}

select.pick-up-location,
select.drop-up-location,
input.pick-up-location,
input.drop-up-location {
  border-radius: 4px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.single_cars {
  display: flex !important;
  flex-wrap: wrap;
}

.booking-list > th {
  text-align: center !important;
}

.Validation-message {
  background: #7ab317;
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 14px;
  max-width: 454px;
  padding: 4px 7px;
  position: relative;
  z-index: 99;
  margin: 0 0 00px;
  float: left;
}

@media screen and (max-width: 480px) {
  #ctl00_UpdateProgress1 {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    z-index: 999;
  }

  #ctl00_UpdateProgress1 > div img {
    position: fixed !important;
    top: 15% !important;
    right: 0;
    z-index: 100;
    background: #000;
    opacity: 0.6 !important;
    width: 400px;
    text-align: center;
    left: 0;
    height: 400px;
    margin: 0 auto;
  }
}

.paypalbtn {
  background-color: Green;
  border: transparent;
  border-radius: 5px;
  padding: 5px 25px;
  color: #fff;
}

.thanks-msg {
  margin-bottom: 5px !important;
}
