#barwrap {
  margin-bottom: 30px;
}

.bar {
  width: 100% !important;
  float: left !important;
  align-items: center !important;
  text-align: center !important;
  padding: 8px !important;
  padding-top: 0 !important;
  background-color: #c7f6b6 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  color: #000 !important;
  border-bottom: thick ridge #c7f6b6 !important;
  -webkit-box-shadow: 0 2px 13px 0.5px #c7f6b6 !important;
  box-shadow: 0 2px 13px 0.5px #c7f6b6 !important;
  display: inline-block !important;
  z-index: 3008 !important;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out; /* Added transition properties */
}

#text {
  position: relative;
  top: 14px;
  z-index: 100;
}

#ok {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: -11px;
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
  line-height: 31px;
  background: #282c73;
  border-radius: 300px;
  position: relative;
  z-index: 101;
  cursor: pointer;
}

#ok a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 1365px) {
  #text {
    position: relative;
    top: 10px;
  }

  #ok {
    display: inline-block;
    float: none;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-right: 0px;
    font-size: 16px;
    color: #fff;
    line-height: 31px;
    background: #282c73;
    border-radius: 300px;
  }

  .bar span {
    width: 100%;
    float: left;
  }

  #head-image {
    margin-right: 1%;
    position: relative;
    top: 8px;
    display: none;
  }
}
#ctl00_barwrap {
  transition: 2s;
}

.section {
  overflow: hidden;
  transition: height 0.2s ease-out;
  height: auto;
}
/* .section {
  border: 3px solid #4caf50;
} */

